// body{
//     background-color: red !important;
// }

// .hresources {
//     display:none !important;
//   }

.btn-add:hover {
    background-color: #3e8e41;
    color: white;
  }

// input text make it label from modal
.name {
    background:rgba(0,0,0,0) !important;
    border:none;
}

 